# Production Environment Variables
# COPY THIS FILE TO .env.prod AND FILL IN THE VALUES

# Database
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
POSTGRES_DB=assettrack_prod
DATABASE_URL=postgres://prod_user:CHANGE_THIS_STRONG_PASSWORD@db:5432/assettrack_prod?sslmode=disable
REDIS_URL=redis://redis:6379/0

# Security
SECRET_KEY=CHANGE_THIS_TO_A_VERY_LONG_RANDOM_STRING
ACCESS_TOKEN_EXPIRE_MINUTES=480
ALGORITHM=HS256

# App
PROJECT_NAME=AssetTrack TI
TZ=America/Sao_Paulo
VITE_API_URL=https://api.seu-dominio.com/api/v1
